<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Entry</h1>

		<f:flashMessages />

		<table  class="tx_dkdguestbook" >
			<tr>
				<th><f:translate key="tx_dkdguestbook_domain_model_entry.firstname" /></th>
				<th><f:translate key="tx_dkdguestbook_domain_model_entry.lastname" /></th>
				<th><f:translate key="tx_dkdguestbook_domain_model_entry.email" /></th>
				<th><f:translate key="tx_dkdguestbook_domain_model_entry.location" /></th>
				<th><f:translate key="tx_dkdguestbook_domain_model_entry.message" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{entries}" as="entry">
				<tr>
					<td><f:link.action action="show" arguments="{entry : entry}"> {entry.firstname}</f:link.action></td>
					<td><f:link.action action="show" arguments="{entry : entry}"> {entry.lastname}</f:link.action></td>
					<td><f:link.action action="show" arguments="{entry : entry}"> {entry.email}</f:link.action></td>
					<td><f:link.action action="show" arguments="{entry : entry}"> {entry.location}</f:link.action></td>
					<td><f:link.action action="show" arguments="{entry : entry}"> {entry.message}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{entry : entry}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{entry : entry}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Entry</f:link.action>
	</f:section>
</html>