<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="firstname">
	<f:translate key="tx_dkdguestbook_domain_model_entry.firstname" />
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="lastname">
	<f:translate key="tx_dkdguestbook_domain_model_entry.lastname" />
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="email">
	<f:translate key="tx_dkdguestbook_domain_model_entry.email" />
</label><br />
	<f:form.textfield type="email" property="email" /><br />
<label for="location">
	<f:translate key="tx_dkdguestbook_domain_model_entry.location" />
</label><br />
	<f:form.textfield property="location" /><br />
<label for="message">
	<f:translate key="tx_dkdguestbook_domain_model_entry.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />
</html>